{"swagger":"2.0","info":{"version":"1.0.0","title":"CodeOfVirginia","description":"CodeOfVirginia"},"host":"law.lis.virginia.gov","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/api/CoVSectionsGetListOfJson/%7Btitle%7D/%7Bchapter%7D":{},"/api/CoVTitlesGetListOfJson/":{"get":{"summary":"CoVTitlesGetListOfJson","description":"CoVTitlesGetListOfJson","operationId":"CoVTitlesGetListOfJson","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"TitleNumber":{"type":"string","description":"TitleNumber"},"TitleName":{"type":"string","description":"TitleName"},"ChapterList":{"type":"string","description":"ChapterList"}}}}}}}},"/api/CoVChaptersGetListOfJson/%7Btitle%7D/%7Bchapter%7D":{},"/api/CoVSectionsGetSectionDetailsJson/%7Bsectiondetails%7D":{},"/api/CoVSectionsGetListOfJson/{title}/{chapter}/":{"get":{"summary":"CoVSectionsGetListOfJson","description":"CoVSectionsGetListOfJson","operationId":"CoVSectionsGetListOfJson","parameters":[{"name":"title","in":"path","required":true,"type":"string"},{"name":"chapter","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"TitleNumber":{"type":"string","description":"TitleNumber"},"TitleName":{"type":"string","description":"TitleName"},"SubtitleNum":{"type":"string","description":"SubtitleNum"},"SubtitleName":{"type":"string","description":"SubtitleName"},"PartNum":{"type":"string","description":"PartNum"},"PartName":{"type":"string","description":"PartName"},"ChapterNum":{"type":"string","description":"ChapterNum"},"ChapterName":{"type":"string","description":"ChapterName"},"ArticleList":{"type":"array","items":{"type":"object","properties":{"ArticleNum":{"type":"string","description":"ArticleNum"},"ArticleName":{"type":"string","description":"ArticleName"},"SubPartList":{"type":"array","items":{"type":"object","properties":{"SubPartNum":{"type":"string","description":"SubPartNum"},"SubPartName":{"type":"string","description":"SubPartName"},"SectionList":{"type":"array","items":{"type":"object","properties":{"SectionRange":{"type":"string","description":"SectionRange"},"SectionNumber":{"type":"string","description":"SectionNumber"},"SectionTitle":{"type":"string","description":"SectionTitle"}}},"description":"SectionList"}}},"description":"SubPartList"}}},"description":"ArticleList"}}}}}}},"/api/CoVChaptersGetListOfJson/{title}/{chapter}/":{},"/api/CoVChaptersGetListOfJson/{title}/":{"get":{"summary":"CoVChaptersGetListOfJson","description":"CoVChaptersGetListOfJson","operationId":"CoVChaptersGetListOfJson","parameters":[{"name":"title","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"TitleNumber":{"type":"string","description":"TitleNumber"},"TitleName":{"type":"string","description":"TitleName"},"ChapterList":{"type":"array","items":{"type":"object","properties":{"ChapterNum":{"type":"string","description":"ChapterNum"},"ChapterName":{"type":"string","description":"ChapterName"}}},"description":"ChapterList"}}}}}}},"/api/CoVSectionsGetSectionDetailsJson/{sectiondetails}/":{"get":{"summary":"CoVSectionsGetSectionDetailsJson","description":"CoVSectionsGetSectionDetailsJson","operationId":"CoVSectionsGetSectionDetailsJson","parameters":[{"name":"sectiondetails","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"TitleNumber":{"type":"string","description":"TitleNumber"},"TitleName":{"type":"string","description":"TitleName"},"ChapterList":{"type":"array","items":{"type":"object","properties":{"SubtitleNum":{"type":"string","description":"SubtitleNum"},"SubtitleName":{"type":"string","description":"SubtitleName"},"PartNum":{"type":"string","description":"PartNum"},"PartName":{"type":"string","description":"PartName"},"ChapterNum":{"type":"string","description":"ChapterNum"},"ChapterName":{"type":"string","description":"ChapterName"},"SubPartNum":{"type":"string","description":"SubPartNum"},"SubPartName":{"type":"string","description":"SubPartName"},"ArticleNum":{"type":"string","description":"ArticleNum"},"ArticleName":{"type":"string","description":"ArticleName"},"SectionRange":{"type":"string","description":"SectionRange"},"SectionNumber":{"type":"string","description":"SectionNumber"},"SectionTitle":{"type":"string","description":"SectionTitle"},"SectionText":{"type":"string","description":"SectionText"},"Body":{"type":"string","description":"Body"}}},"description":"ChapterList"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}